{% extends "base.html" %}
{% load static %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}
<div class="content">

    <div class="container-fluid gradient text-center rounded-bottom-2" data-aos="fade-in" data-aos-duration="1500">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Articles</h1>
                <p class="lead">
                    Your guide to a sustainable future on Climate Science!
                </p>
            </div>
        </div>
    </div>

    <div class="container bgdeadpool text-center p-4 my-4 rounded-5" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="400">
        <div class="row">
            <div class="col-md-6 align-content-center text-white">
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
            </div>
            <div class="col-md-6 artDetImg p-0 rounded-5" data-aos="fade-left" data-aos-duration="1000">
                <img src="{{ article.image.url }}" class="img-fluid rounded-5" alt="{{ article.title }}">
            </div>
        </div>
    </div>

    <div class="row text-center bgdeadpool m-0 my-3 pt-4 rounded-5" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="400">

        <div class="container-sm d-flex flex-column text-white w-75">
            <h2>Join Us in Making a Difference</h2>
            <p>Start your journey with ClimateQuest today by exploring our articles, activities, and multimedia content. Together, we can help protect the Earth and build a sustainable future for generations to come.</p>
        </div>

        <div class="col-md-4 homeCard">
            <div class="card hCard shadow">
                <div class="card-body">
                    <h3 class="card-title">Learn</h3>
                    <p class="card-text">Stay informed with the latest articles and resources on climate change, exploring its causes, effects, and the ways it impacts our world. Through reliable information and insights, deepen your understanding of the challenges our planet faces and discover the role we all play in creating a sustainable future.</p>
                    <a href="{% url 'articles' %}" class="btn btn-outline-primary btn-lg mx-2 w-75">Explore Articles</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 homeCard">
            <div class="card hCard shadow">
                <div class="card-body">
                    <h3 class="card-title">Engage</h3>
                    <p class="card-text">Get involved with interactive, hands-on activities designed to help you better understand the planet and the impact of climate change. From experiments and DIY projects to community initiatives, these experiences empower you to make a difference while learning practical ways to protect our environment.</p>
                    <a href="{% url 'activities' %}" class="btn btn-outline-success btn-lg mx-2 w-75">Fun Activities</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 homeCard">
            <div class="card hCard shadow">
                <div class="card-body">
                    <h3 class="card-title">Explore</h3>
                    <p class="card-text">Discover captivating multimedia content that brings climate topics to life. From stunning visuals and engaging videos to interactive tools and infographics, explore the beauty of our planet while gaining a deeper appreciation for the challenges it faces and the solutions we can pursue.</p>
                    <a href="{% url 'multimedia' %}" class="btn btn-outline-warning btn-lg mx-2 w-75">Multimedia</a>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}